{%extends 'base.html'%}
{% block content %}
  <div class="profile">
    <h1 style="position: relative; left: 40%; top:10px">Profile</h1>
    <div style="position: relative; left: 10%">
      <ul>
      <li>Email: {{user.email}}</li>
      <li>username: {{user.username}}</li>
      <li>Full Name: {{user.full_name}}</li>
      <li>age: {{user.age}}</li>
          <a href='http://127.0.0.1:5000/update_profile/'><button type="button" class="btn btn">Profile settings</button></a>
      </ul>
    </div>
       <div style="width: 300px; height: 300px; position: relative;left:800px; top:-150px"><img src="{{ url_for('avatar', user_id=user.id) }}" alt="Avatar"></div>
    {% for post in posts %}
    <div class=" col-md-4">
       <div class="latest">
          <figure><img src="{{ url_for('post_image', post_id=post.id) }}" alt="#"/></figure>
          <span>{{ post.created_date }}</span>
          <div class="nostrud">
             <h3><a href='http://127.0.0.1:5000/{{post.id}}'>{{post.title}}</a></h3>
             <p>{{ post.context }}</p>
             <p><a href="http://127.0.0.1:5000/profile/{{post.author_id}}">{{ post.author.username }}</a></p>
             <a class="read_more" href="http://127.0.0.1:5000/{{post.id}}">Read More</a>
          </div>
       </div>
    </div>
    {% endfor %}




  </div>
{% endblock %}